<!DOCTYPE html>
<html>
<head>
	<title>Logged In</title>
</head>
<body>
	<p>Your username is {{ uname }}.</p>
	<p>You used {{ method }}.</p>
	<br>
	<h3>Hey {{ uname}}. Are you liking this concert, {{ uname }}? {{ uname }}, how did you get to this concert, {{ uname }}? What you say, {{ uname }}? {{ uname }}, what's your favorite Dave Matthews song, {{ uname }}? {{ uname }}, how do you enjoy being the butler for the Fresh Prince of Bel Air, {{ uname }}? I love {{ uname }} Matthews band. Oops! What did I do, {{ uname }}? {{ uname }} I didn't mean to say that, {{ uname }}.</h3>
	<p>The first time you meet them say...</p>
	<h3>Hey! Nice to meet you {{ uname }}. Do you want to go to a wine tasting with me {{ uname }}? {{ uname }} let's look at houses.  {{ uname }}, it wil be like that movie sideways, {{ uname }}.  {{ uname }}, let's go to look at open houses, {{ uname }}. {{ uname }}, I bought us matching sweaters, {{ uname }}. {{ uname }}, let's wear these matching sweaters {{ uname }}.  Just a little wine tasting in the country, {{ uname }}. {{ uname }}, hug me, {{ uname }}. Come to my villa for a weekend {{ uname }}. C'mon {{ uname }}. </h3>
	
<span style="font-size: 22px"><i>{{ uname }}</i></span> 
<span style="font-size: 29px">{{ uname }}</span> 
<span style="font-size: 15px">{{ uname + uname[-1] + uname[-1] + uname[-1] }}</span>
<span style="font-size: 30px">{{ uname }}!</span> 
<span style="font-size: 14px"><i>{{ uname }}</i></span> 
<span style="font-size: 26px">{{ uname + uname[-1] + uname[-1] + uname[-1]}}</span> 

<h3>
{{ uname }}, we should move in together. {{ uname }}, we just met, {{ uname }}, but let's move in.  {{ uname }}, it's a one bedroom apartment but it's awfully spacious. 
<span style="font-size: 20px">{{ uname + uname[-1] + uname[-1] + uname[-1] }}</span>
<span style="font-size: 10px">{{ uname }}</span> 
<span style="font-size: 24px"><i>{{ uname }}...</i></span> 

{{ uname }}, how do you feel about bunk beds, {{ uname }}? I've got a California king bed; I promise we won't touch {{ uname }}.  {{ uname }}, will you hold me during the thunderstorms {{ uname }}?<span style="font-size: 20px"><i> {{ uname + uname[-1] + uname[-1] + uname[-1] + uname[-1] + uname[-1] + uname[-1] }}</i></span> {{ uname }}, it's hailing! {{ uname }}, the black clouds are rolling in, {{ uname }}. {{ uname }}, let us buy a puppy together, {{ uname }}. {{ uname }}, we'll name him {{ uname }}, {{ uname }}.</h3>
	<br><br><a href="https://youtu.be/XU4pPvHLIwc"> For reference</a>
</body>
</html>