<!DOCTYPE html>
<html>
<head>
  <title> My commute </title>
</head>
<body>
  <h2 style="text-align: center;">
    My commute (as told by the Public Transit API) 
  </h2>
  {% for trip in trips %}
    <h3>Trip!</h3>
    {% for step in trip %}
      {% if step[1][0] == "Walk" %}
        <p>From {{ step[0] }} walk {{ step[1][1] }} meters to {{ step[2] }}.</p>
      {% else %}
        <p>From {{ step[0] }} take the {{ step[1][1] }} to {{ step[2] }}.</p>
      {% endif %}
    {% endfor %}
  {% endfor %}
  <h3>These were generated based on starting coordinates (my house) and ending coordinates (Stuyvesant).</h3>
</body>
</html>
